<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/@zendeskgarden/css-bedrock@7.0.21,npm/@zendeskgarden/css-utilities@4.3.0">
  <style type="text/css">
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app">
    <div v-bind:class="{ hidden: !isLoading }">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff;display:block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50" fill="none" stroke="#1ba4de" stroke-width="4" r="15" stroke-dasharray="70.68583470577033 25.561944901923447">
          <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="0.9803921568627451s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
        </circle>
      </svg>
    </div>
    <div v-bind:class="{ hidden: isLoading }">
      <div v-if="error_message"></template>
        <p>{{ error_message }}</p>
      </div>
      <div v-else>
        <h2 class="u-semibold u-fs-lg">{{ project_name }}</h2>

        <p v-if="wisdom_url">
          <strong><a :href=wisdom_url target="_blank">Read the Project Wisdom</a></strong>
        </p>

        <ul class="u-mv-sm">
          <li v-if="project_clients">
            <strong>Client</strong><br>
            {{ project_clients }}
          </li>
          <li v-if="maintenance_status">
            <strong>Maintenance Status</strong><br>
            {{ maintenance_status }}
          </li>
          <li v-if="hosting_location">
            <strong>Hosting Location</strong><br>
            {{ hosting_location }}
          </li>
          <li v-if="developer_names">
            <strong>Developers</strong><br>
            {{ developer_names }}
          </li>
        </ul>

        <div class="links u-mv-sm u-pv-sm u-border-t">
          <p>
            <a :href=trello_url v-if="trello_url" target="_blank">
              <i class="fab fa-2x fa-trello" title="View the project's Trello board"></i>
            </a>
            <a :href=govpress_git_url v-if="govpress_git_url" target="_blank">
              <i class="fab fa-2x fa-gitlab" title="View the project's source code on GovPress Git"></i>
            </a>
            <a :href=github_url v-if="github_url" target="_blank">
              <i class="fab fa-2x fa-github" title="View the project's source code on GitHub"></i>
            </a>
            <a :href=drive_url v-if="drive_url" target="_blank">
              <i class="fab fa-2x fa-google-drive" title="View the project's folder on Google Drive"></i>
            </a>
            <a :href=slack_url v-if="slack_url" target="_blank">
              <i class="fab fa-2x fa-slack" title="Go to the project's Slack channel"></i>
            </a>
          </p>
          <div class="u-mv-sm u-pv-sm u-border-t">
            <p><a :href=airtable_url target="_blank">See this project on AirTable</a></p>
            <p v-if="last_reviewed"><small>This information last reviewed {{ last_reviewed }}.</small></p>
            <p v-else><b>This information has not yet been marked as reviewed.</b> Maybe you could go do it?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://kit.fontawesome.com/999bfae655.js" crossorigin="anonymous"></script>
  <script src="airtable.js"></script>
  <script src="main.js"></script>
</body>
</html>
